* {
  margin: 0;
  padding: 0;
  
}
.bg-darkk{
  background: black!important;
  color: white;
}
#loading{
  background: black url(../src//Images/loading.gif) no-repeat center center; 
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999999;
}
.App {
  font-family: sans-serif;
  text-align: center;
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  background: black;
  overflow: hidden;
}
.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.fa:hover {
  transform: scale(1.5);
  transition: 1s;
}
.fa-facebook-official {
  color: #3b5998;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-github {
  color: #00405d;
}


.row1{
 margin-top: 70px;
  height: 90vh;
}
.infoCard{
  border-radius: 40px!important;
}
.mohitimg{
  width: 60%;
  /* border: 3px solid lightgray; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.carousel-indicators{
  display: none!important;
}
.carousel-control-prev{
  display: none!important;
}
.carousel-control-next{
  display: none!important;
}
.contactContainer{
  margin-top: 72px;
}
.certificateContainer{
  margin-top: 73px;
}
